{% if button_bar %}
<div class="corner_nav">
{{ button_bar }}
</div>
{% endif %}

<input type='hidden' id='name' name='name' value='{{ name }}'/>
<input type='hidden' id='obj_id' name='obj_id' value='{{ obj_id }}'/>

<div class='properties-container'>
<div class='smart-form-container'>{{ smart_form }}</div>
<div class='side-html-container'>{{ side_html }}</div>
</div>

{% if custom_js %}
<script lang='text/javascript'>
{{ custom_js }}
</script>
{% endif %}

{% if button_bar2 %}
{{ button_bar2 }}
{% endif %}

{% if grid %}
<div id="myGrid" style="height: 500px; width:100%;" class="ag-theme-alpine"></div>
{% endif %}
{% if bonus_html %}
{{ bonus_html }}
{% endif %}

<div id="flash" class="flash flash_happy"></div>

