<h1>Inter-Track Events</h1>
<hr/>

<p>
Warpseq allows tracks to choose what they are doing based on what is happening on other tracks. We may call these tracks
"guide tracks", and often, they might even be muted tracks that are not themselves playing notes.
</p>

<p>
So far, the only intra-track operation supported is a note-grab.  When we say intra-track, we mean commands that set things
that happen on the current track based on things that happen on *other* tracks.
</p>

<hr/>
<h2>Note Grabs</h2>

Note grabs allow one track to replace the value of what note should play based on using the value of another track's last
played note.

<p>
This allows for powerful harmonization.  Imagine, if you will, a muted track 1 containing melody information as part of a scale.
</p>

{{ begin_code() }}1
2
3
4
1 O+1
2
4
1 O+2
1
3
{{ end_code() }}

Another track can play harmonized chords - even at a different tempo, that will always line up.  This is as if one player in a band
was listening to another player:

{{ begin_code() }}1 T=melodyTrack ch=major
-
-
-
1 T=melodyTrack ch=minor
-
-
-
-
{{ end_code() }}

That's a short pattern.  Now we can add a baseline, which takes the melody track and drops down a few octaves.

{{ begin_code() }}1 T=melodyTrack
{{ end_code() }}

The bass pattern can be zero length, because we want to apply an arp pattern to it, that might look like this:

{{ begin_code() }}1 T=melodyTrack O-1
1 T=melodyTrack O-1 S+1
1 T=melodyTrack O-1 S+2
1 T=melodyTrack O-1 S+3
{{ end_code() }}

A cleaner shorthand for note grabs is to just use "&trackName" where you would put the root note that
is going to be replaced anyway, followed by any mod expressions that should be applied after the grab:

{{ begin_code() }}&melodyTrack 0-1
&melodyTrack 0-1 S+1
&melodyTrack 0-1 S+2
&melodyTrack 0-1 S+3
{{ end_code() }}

<p>
The arp plays the first note the melody track is playing, then three successive notes going up 1, 2, and then 3 scale
notes, all in key, but also one octave down.
</p>

<p>
While the data entry of this may SEEM a little tedious, these same patterns can be played throughout large parts of the
song (if desired), and do not need to be rewritten when varying the melody track.
</p>

<p>
As such, we can make an entire song out of considerably LESS clips than in some other systems, by reusing patterns like this.
</p>

{{ begin_warn_block() }}
NOTE: Currently the parser will not work with note grabs if the targetted track names contains spaces. The UI will probably
enforce this in track naming conventions.
{{ end_warn_block() }}

{{ begin_warn_block() }}
The note grab system currently works with notes, not chords. If you attempt to grab a playing chord, it will grab one of the notes
of the chord.
{{ end_warn_block() }}

<hr/>
<h2>Send To Track</h2>

<p>
Normally a note grab can always capture the value of another track. If the note is sent in the following syntax, however,
only a track that is passed to to may "catch" the note. If the track is not being passed to, the note grab will result in
a rest. This is used to great effect in the API example
<A HREF="https://bitbucket.org/laserllama/warpseq/src/master/examples/api/12_hocketing.py">12_hocketing.py</A>, which describes
how to implement a compositional technique where multiple tracks/instruments play a melody, but each playing notes of it in turn.
</p>

<p>
It looks like this on the sending track pattern:
</p>

{{ begin_code() }}
1 >track1
2 >track2
3 >track3
4 >track4
5 >track5
{{ end_code() }}

<p>
The receiving track must use a note grab to capture it.  The easiest example is if the only thing in the receiving
track's pattern <i>was</i> a note grab pulling from the track that threw the note over:
</p>

{{ begin_code() }}&track0
{{ end_code() }}

<p>
However, tracks don't always have to catch what other tracks are throwing their way. Reading the <A HREF="https://bitbucket.org/laserllama/warpseq/src/master/examples/api/12_hocketing.py">API Example</A>
shows how to combine this concept with {{ doc('expr_data_patterns','Data Patterns') }} to select what track to pass to based on a list, either in order or randomly. Used together, these become
much more powerful.
</p>
