
<h1>Tracks</h1>
<hr/>

<p>A track represents the assignment of an {{ doc('instrument') }} to a vertical group of {{ doc('clip','Clips') }}, each clip part of a different {{ doc('scene') }}.  When any clip is set to play,
 all other clips assigned to that same track will automatically stop.</p>

{{ begin_info_block() }}
Think "track" as an the audio-recording concept, not track as in "we played on a track on this record"
{{ end_info_block() }}

<p>
<ul>
<li>A track may be muted</li>
<li>Multiple tracks may send notes and commands at an {{ doc('instrument') }} at the same time.</li>
<li>There is no limit to the number of tracks you may have.</li>
</ul>
</p>

