<h1>Instruments</h1>

<!--------------------------------------------------------------------------------------------------------------------->
<hr/>
<h2>About</h2>

<p>
Instruments take a {{ doc('api_devices','Device') }} name and combine it with MIDI channel data and capability information.
{{ doc('api_tracks','Tracks') }} reference Instruments to figure out how to route MIDI information.
</p>

<!--------------------------------------------------------------------------------------------------------------------->

<hr/>
{{ table_of_contents() }}

<!--------------------------------------------------------------------------------------------------------------------->
<hr/>
{{ section("Creating An Instrument") }}

{{ begin_code(language='python') }}
api.instruments.add(
   name='lead_inst',
   device=DEVICE,
   channel=1,
   min_octave=0,
   base_octave=5,
   max_octave=10
)
{{ end_code() }}

<p>
An instrument has the following properties:
</p>

<table border=1 cellpadding="10px">
<tr>
  <td>Property</td>
  <td>Type</td>
  <td>Description</td>
</tr>
<tr>
  <td>name</td>
  <td>string</td>
  <td>a name to identify this object</td>
</tr>
<tr>
  <td>device</td>
  <td>int</td>
  <td>the name of a MIDI {{ doc('api_devices','Device') }} in your system</td>
</tr>
<tr>
  <td>min_octave</td>
  <td>int</td>
  <td>the lowest octave that the instrument can play. Notes below this value will not be transmitted</td>
</tr>
<tr>
  <td>base_octave</td>
  <td>int</td>
  <td>this value will be added to the octave value of any MIDI events before they are played.</td>
</tr>
<tr>
  <td>max octave</td>
  <td>int</td>
  <td>the highest octave that the instrument can play. Notes above this value will not be transmitted</td>
</tr>
<tr>
  <td>default_velocity</td>
  <td>int</td>
  <td>the default velocity to use if not specified on a {{ doc('api_slots','Slot') }}. If not set here, the default is 120.</td>
</tr>
</table>

<!--------------------------------------------------------------------------------------------------------------------->

<hr/>
{{ section("Suggestions & Tips") }}

<ul>
<li>setting base_octave is the easiest thing to do if your notes are coming in too low or high</li>
</ul>


<!--------------------------------------------------------------------------------------------------------------------->
<hr/>
{{ section("Next Up") }}

See {{ doc('api_tracks','Tracks') }}

