<h1>Songs</h1>

<!--------------------------------------------------------------------------------------------------------------------->
<hr/>
<h2>About</h2>

<p>
The top level object in a Warp composition is a Song. You can only have one at a time, and have very few editable properties.
</p>

<!--------------------------------------------------------------------------------------------------------------------->

<hr/>
{{ table_of_contents() }}

<!--------------------------------------------------------------------------------------------------------------------->
<hr/>
{{ section("Common Imports") }}

Here are the import statements you will work with most frequently with Warp:

{{ begin_code(language='python') }}
from warpseq.api import demo
from warpseq.api.public import Api as WarpApi
from warpseq.model.slot import Slot, DataSlot
from warpseq.model.evaluators import *
{{ end_code() }}

<!--------------------------------------------------------------------------------------------------------------------->
<hr/>
{{ section("Creating A Song") }}

{{ begin_code(language='python') }}
api = WarpApi()
api.song.edit(tempo=120)
{{ end_code() }}

<p>
An instrument has the following properties:
</p>

<table border=1 cellpadding="10px">
<tr>
  <td>Property</td>
  <td>Type</td>
  <td>Description</td>
</tr>
<tr>
  <td>tempo</td>
  <td>int</td>
  <td>the default tempo for the song before any <i>rate</i> multipliers on the {{ doc('api_scenes','Scene') }}, {{ doc('api_patterns','Pattern') }} or {{ doc('api_clips','Clip') }} are applied</td>
</tr>
<tr>
  <td>scale</td>
  <td>string</td>
  <td>the name of an already defined {{ doc('api_scales','Scale') }} object to use as the default where it is not set on a {{ doc('api_scenes','Scene') }} or {{ doc('api_clips','Clip') }}</td>
</table>

<!--------------------------------------------------------------------------------------------------------------------->
<hr/>
{{ section("Next Up") }}

See {{ doc('api_tracks','Tracks') }}

