{% if fa_icon %}
<a {% if link_class %}class='{{ link_class }}'{% endif %} {% if id %} id='{{ id }}'{% endif %} href='#' class="btn{% if danger %} btn_danger{% endif %}" onclick="{{ onclick }}"><i class="{{ fa_class }} {{ fa_icon }}" aria-hidden="{{ aria_hidden }}"></i>&nbsp;{{ caption }}</a>
{% else %}
<a {% if link_class %}class='{{ link_class }}'{% endif %} {% if id %} id='{{ id }}'{% endif %} href='#' class="btn{% if danger %} btn_danger{% endif %}" onclick="{{ onclick }}">{{ caption }}</a>
{% endif %}
