<input type="range" id="{{ field }}" name="{{ field }}"
value="{{ value | default(use_default) }}" min='{{ min }}' max='{{ max }}' step='{{ step }}'/>
<span class="range_number" id="{{field}}_value">{{ value | default(use_default) }}</span>
